<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>new User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">

    <label for="name">Enter name:</label>
    <input name="name" required placeholder="Name" th:field="*{name}" id="name"/>
    <br/>

    <label for="lastName">Enter lastName:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>

    <label for="email">Enter E-mail:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>

    <label for="password">Enter password:</label>
    <input name="password" required placeholder="Password"  id="password"/>
    <br/>

    <label for="roles">Select role:</label>
    <input type="checkbox" th:each="role:${roles}"
           th:id="${role.getId()}"
           th:value="role"
           th:name="${role.getId()}"
           th:utext="${role.getRole()}" id="roles">

    <br/>
    <input type="submit" value="Create"/>

</form>

<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>