<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>new User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">

    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="lastName">Enter lastName:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>

    <label for="email">Enter E-mail:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>

    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <input type="submit" value="Create"/>

</form>

<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>